<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Firstflight_Firstship::region" title="Manage Regions in Addresses" module="Firstflight_Firstship" sortOrder="65" parent="Magento_Customer::customer" action="firstflight/regionmanager" resource="Firstflight_Firstship::region"/>
    </menu>
</config>
